#sidebar {

  height: 100%;
  width: 250px;
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  #sidebar {
    flex: 0 0 100%;
    order: 1;
  }

  .content {
    flex: 1 1 auto;
    order: 2;
  }
}